.advantagesContainer {
  max-width: 1920px;
  margin: 0 auto;
  padding: 20px 370px;
}

.title {
  font-size: 24px;
  font-weight: 800;
  line-height: 28.13px;
  letter-spacing: 0.05em;
  text-align: center;
  margin-bottom: 20px;
}
.card__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px 60px;
}

@media (max-width: 1181px) {
  .advantagesContainer {
    max-width: 1180px;
    padding: 0 150px;
  }

  .card__container {
    gap: 20px;
  }
}
