.footer {
  border-top: 1px solid rgba(39, 46, 40, 1);
  max-width: 1920px;
  margin: 0 auto;
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 74px 370px;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 16px;
    line-height: 18.75px;

    &_nav {
      font-weight: 800;
    }

    &_catalog {
      font-weight: 500;
    }

    &_address {
      display: flex;
      color: black;
      align-items: center;
      gap: 38px;

      p {
        font-size: 18.34px;
        font-weight: 700;
        line-height: 23.79px;
        max-width: 400px;
        text-align: right;
      }
    }

    &_phone {
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 20px;

      span {
        font-size: 18.34px;
        font-weight: 700;
        line-height: 21.5px;
        text-align: right;
      }
    }

    &_socials {
      display: flex;
      gap: 34px;
      justify-content: end;
    }

    &_call {
      display: flex;
      justify-content: end;
    }
  }
}
