.footer {
  border-top: 1px solid rgba(39, 46, 40, 1);
  max-width: 1920px;
  margin: 0 auto;
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 74px 370px;

  article {
    display: flex;
    gap: 40px;
    justify-content: center;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 16px;
    line-height: 18.75px;

    &_info {
      display: flex;
      gap: 20px;
      flex-direction: column;
    }

    &_nav {
      font-weight: 800;

      a {
        color: black;
        &:hover {
          color: rgba(127, 173, 57, 1);
        }
      }

      .orange {
        &:hover {
          color: rgba(204, 123, 26, 1);
        }
      }
    }

    &_catalog {
      font-weight: 800;

      a {
        &:hover {
          color: rgba(127, 173, 57, 1);
        }
        color: black;
      }

      .orange {
        &:hover {
          color: rgba(204, 123, 26, 1);
        }
      }

      .red {
        &:hover {
          color: rgba(191, 111, 63, 1);
        }
      }
    }

    &_address {
      display: flex;
      color: black;
      align-items: center;
      gap: 38px;

      p {
        font-size: 18.34px;
        font-weight: 700;
        line-height: 23.79px;
        max-width: 400px;
        text-align: right;
      }
    }

    &_phone {
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 20px;

      span {
        font-size: 18.34px;
        font-weight: 700;
        line-height: 21.5px;
        text-align: right;

        @media (max-width: 540px) {
          font-size: 7px;
        }
      }
    }

    &_socials {
      display: flex;
      gap: 34px;
      justify-content: end;
    }

    &_call {
      display: flex;
      justify-content: end;
    }
  }
}

.orange {
  &:hover {
    color: rgba(204, 123, 26, 1);
  }
}

@media (max-width: 1480px) {
  .footer {
    padding: 74px 240px;
  }
}

@media (max-width: 1220px) {
  .footer {
    padding: 74px 200px;

    &__list {
      &_address {
        display: flex;
        color: black;
        align-items: center;
        gap: 38px;

        p {
          font-size: 18.34px;
          font-weight: 700;
          line-height: 23.79px;
          max-width: 320px;
          text-align: right;
        }
      }
    }
  }
}

@media (max-width: 1080px) {
  .footer {
    flex-direction: column;
    padding: 74px 300px;

    &__list {
      &_address {
        p {
          font-size: 14px;
        }
      }

      &_info {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
      }
    }

    article {
      margin-bottom: 40px;
      gap: 60px;
    }
  }
}

@media (max-width: 880px) {
  .footer {
    flex-direction: column;
    padding: 74px 200px;

    &__list {
      &_address {
        display: flex;
        color: black;
        align-items: center;
        gap: 38px;

        p {
          font-size: 14px;
          font-weight: 700;
          line-height: 23.79px;
          max-width: 320px;
          text-align: right;
        }
      }
    }
  }
}

@media (max-width: 540px) {
  .footer {
    flex-direction: column;
    padding: 74px 100px;

    &__list {
      &_address {
        display: flex;
        color: black;
        align-items: center;
        gap: 38px;

        p {
          font-size: 8px;
          font-weight: 700;
          line-height: 23.79px;
          max-width: 400px;
          text-align: right;
        }
      }

      &_catalog {
        font-weight: 800;

        a {
          font-size: 12px;
        }
      }

      &_nav {
        font-weight: 800;

        a {
          font-size: 12px;
        }
      }
    }
  }
}
